$white: #fff !default;
$gray: #f9f9f9 !default;
$accent-color: #145474 !default;

.header { grid-area: header; }
.main { grid-area: main; }
.menu { grid-area: menu; }

.sidebar-right { grid-area: sidebar-right; }
.footer { grid-area: footer; }

#blog-listing {
	display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
        
    min-height: 95vh;
  
  }
  
